article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
	display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
	display: inline;
}
.row-2 nav {
    width: 100%;
}

.row-2 ul.sf-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.row-2 ul.sf-menu li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.row-2 ul.sf-menu a.item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.row-2 ul.sf-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
}

.row-2 ul.sf-menu li:hover > ul {
    display: block;
}

.row-2 ul.sf-menu ul li {
    display: block;
    width: 200px;
}

.row-2 ul.sf-menu ul a {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.row-2 ul.sf-menu ul a:hover {
    background: #ddd;
}

.row-2 ul.sf-menu span {
    display: block;
    width: 16px;
    height: 16px;
    background: url() no-repeat;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
}

.row-2 ul.sf-menu ul span {
    background: none;
}


/* Global properties ======================================================== */
html {
	width: 100%;
	overflow: auto;
}

body {
    font-size: 12px;
    line-height: 18px;
    color: #969597;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/bg.jpg) center 0 repeat-y #fff;
}

.main {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

a {
	color: #6cadcc;
	outline: none;
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
	width: 100%;
	line-height: 0;
	font-size: 0;
}

.col-1,
.col-2,
.col-3,
.col-4 {
	float: left;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.extra-wrap {
	overflow: hidden;
}

p {
	margin-bottom: 18px;
}

.p1 {
	margin-bottom: 8px;
}

.p2 {
	margin-bottom: 15px;
}

.p3 {
	margin-bottom: 30px;
}

.p4 {
	margin-bottom: 40px;
}

.p5 {
	margin-bottom: 50px;
}

.reg {
	text-transform: uppercase;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

.title {
	margin-bottom: 18px;
}

.it {
	font-style: italic;
}

.letter {
	letter-spacing: -1px;
}

.color-1 {
	color: #fff;
}

.color-2 {
	color: #000;
}

.color-3 {
	color: #969597;
}

.color-4 {
	color: #6cadcc;
}

/*********************************boxes**********************************/
.margin-bot {
	margin-bottom: 35px;
}

.spacing {
	margin-right: 35px;
}

.spacing2 {
	margin-right: 45px;
}

.spacing3 {
	margin-right: 60px;
}

.spacing-bot {
	margin-bottom: 25px;
}

.indent {
	padding: 0 0 0px 30px;
}

.indent2 {
	padding-left: 50px;
}

.indent-bot {
	margin-bottom: 20px;
}

.indent-bot2 {
	margin-bottom: 30px;
}

.indent-bot3 {
	margin-bottom: 45px;
}

.img-indent-bot {
	margin-bottom: 25px;
}

.img-indent {
	float: left;
	margin: 0 20px 0px 0;
}

.img-indent1 {
	float: left;
	margin: 0 25px 0px 0;
}

.img-indent2 {
	float: left;
	margin: 0 13px 0px 0;
}

.img-indent3 {
	float: left;
	margin: 0 9px 0px 0;
}

.img-indent-r {
	float: right;
	margin: 0 0px 0px 40px;
}

.prev-indent-bot {
	margin-bottom: 10px;
}

.prev-indent {
	float: left;
	margin: 0 17px 0px 0;
}

.prev-box {
	float: left;
	margin-bottom: 8px;
}

.border {
	border: 3px solid #000;
}

a {
	cursor: pointer;
}

.button,
.button-1,
.menu-bot li a,
.list-1 li a,
.list-2 li a,
.list-3 li a,
.list-4 li a,
.link,
.link-1,
.link-2,
h1 a {
	text-decoration: none;
}

/*********************************header*************************************/
header {
	height: 150px;
	width: 100%;
	position: relative;
	z-index: 2;
}

.header {
	height: 600px;
	width: 100%;
}

/*********************************row-1*************************************/
.row-1 {
	width: 100%;
	height: 104px;
	position: relative;
}

h1 {
	padding: 0;
	position: absolute;
	top: 25px;
	left: 0px;
}

h1 a {
	display: block;
	width: 263px;
	height: 63px;
	text-indent: -5000px;
	background: url(images/logo.png) 0 0 no-repeat;
}

.banner-top {
	width: 548px;
	height: 54px;
	border: 1px solid #f1f3f9;
	background: url(images/banner-top-tail.gif) 0 0 repeat-x #fefdfe;
	position: absolute;
	top: 38px;
	right: 0px;
}

.banner-top .text-1 {
	font-size: 16px;
	line-height: 20px;
	color: #292e31;
	word-spacing: -2px;
	position: absolute;
	top: 16px;
	left: 15px;
}

.banner-top .text-2 {
	font-size: 30px;
	line-height: 36px;
	color: #115d82;
	position: absolute;
	top: 5px;
	right: 12px;
}

.banner-top span {
	width: 43px;
	height: 82px;
	position: absolute;
	top: -22px;
	left: 254px;
	background: url(images/pict-1.jpg) 0 0 no-repeat;
}

/*********************************row-2*************************************/
.row-2 {
	width: 100%;
	height: 46px;
	margin-bottom: 10px;
	position: relative;
	z-index: 2;
	background: url(images/nav-tail.jpg) 0 0 repeat-x;
}

/*********************************row-3*************************************/
.row-3 {
	width: 100%;
	height: 440px;
	position: relative;
	z-index: 1;
}
 /* Add your styles for the career section here */
 .career-section {
	background-color: #f8f8f8;
	padding: 20px;
	text-align: center;
}

.career-title {
	font-size: 24px;
	color: #115d82;
	padding-bottom: 20px;
}

.career-description {
	font-size: 16px;
	color: #333;
}

.carding {
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-bottom: 2rem;
	width: 320px;
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	background-color: rgb(36, 131, 160);
	padding: 1.5rem;
	margin-left: 10px;
  }
  .cardings {
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-bottom: 2rem;
	width: 320px;
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	background-color: rgb(36, 131, 160);
	padding: 1.5rem;
	margin-left: 10px;
  }
  .carding-container {
	display: flex;
}

  
  .headerer {
	display: flex;
	flex-direction: column;
  }
  
  .title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	color: #fff
  }
  
  .price {
	font-size: 3.75rem;
	line-height: 1;
	font-weight: 700;
	color: #fff
  }
  
  .desc {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	line-height: 1.625;
	color: rgb(7, 9, 12);
  }
  
  .lists {
	margin-bottom: 1.5rem;
	flex: 1 1 0%;
	color: rgb(7, 9, 12);
  }
  
  .lists .list {
	margin-bottom: 0.5rem;
	display: flex;
	margin-left: 0.5rem
  }
  
  .lists .list svg {
	height: 1.5rem;
	width: 1.5rem;
	flex-shrink: 0;
	margin-right: 0.5rem;
	color: rgb(7, 9, 12);
  }
  
  .action {
	border: none;
	outline: none;
	display: inline-block;
	border-radius: 0.25rem;
	background-color: rgb(7, 9, 12);
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: rgb(239, 241, 245);
  }

  .action-link:hover .action {
	background-color: #e5ebe5;
	color: #fff;}
/*********************************content*************************************/
#content {
	width: 100%;
	padding: 0px;
	position: relative;
	z-index: 1;
}

.padding-content {
	padding: 10px 0;
}

.spacer-1 {
	width: 100%;
	height: 1px;
	background: url(images/spacer-1.gif) 0 0 repeat-x;
}

h3 {
	font-size: 20px;
	line-height: 24px;
	color: #4b494d;
}

h4 {
	font-size: 16px;
	line-height: 20px;
	color: #519ec2;
}

h6 {
	font-size: 12px;
	line-height: 18px;
	color: #6cadcc;
	font-weight: 700;
}

.topic1 {
	line-height: 35px;
	padding-left: 34px;
	background: url(images/topic1-pict.gif) 3px 4px no-repeat;
}

.topic2 {
	line-height: 35px;
	padding-left: 34px;
	background: url(images/topic2-pict.gif) 0px 10px no-repeat;
}

.topic3 {
	line-height: 35px;
	padding-left: 40px;
	background: url(images/topic3-pict.gif) 2px 10px no-repeat;
}

.border-bot {
	width: 100%;
	padding-bottom: 20px;
	background: url(http://completemerchantservices.com/images/pic-1.gif) 0 bottom repeat-x;
}

.box {
	border: 1px solid #f1f1f1;
	background: #fff;
	position: relative;
}

.padding-box {
    padding: 19px 24px 30px 29px;
    margin: 0 auto; /* This centers the box horizontally */
    text-align: center; /* This centers the content inside the box */
}


.padding1-box {
	padding: 12px 20px 20px 29px;
}

.padding2-box {
	padding: 19px 29px 30px 29px;
}

.padding3-box {
	padding: 19px 24px 17px 29px;
}

.padding4-box {
	padding: 19px 24px 24px 29px;
}

.padding5-box {
	padding: 19px 240px 24px 30px;
}

.box-1 {
	color: #fff;
	border: 1px solid #73acc8;
	background: url(images/box1-tail.gif) 0 0 repeat-x #6aabcb;
	position: relative;
}

.padding-box1 {
	padding: 20px 38px 30px 29px;
}

.box-1 h3 {
	padding-left: 40px;
}

.box-1 a {
	color: #fff;
	text-decoration: none;
}

.box-1 a:hover {
	color: #0a5072;
}

.box-1 span {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 20px;
	left: 31px;
	background: url(images/box1-marker.gif) 0 0 no-repeat;
}

.box-2,
.box-3 {
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #f6f6f6;
	position: relative;
}

.padding-box2 {
	padding: 23px 39px 20px 53px;
}

.box-2 span {
	position: absolute;
	top: 24px;
	left: -34px;
	width: 34px;
	height: 34px;
	background: url(images/box2-marker.gif) 0 0 no-repeat;
}

.box-2 em {
	position: absolute;
	top: 24px;
	left: 21px;
	width: 13px;
	height: 11px;
	background: url(images/quote.gif) 0 0 no-repeat;
}

.box-3 span {
	position: absolute;
	top: 24px;
	right: -34px;
	width: 34px;
	height: 34px;
	background: url(images/box3-marker.gif) 0 0 no-repeat;
}

.box-3 em {
	position: absolute;
	top: 24px;
	left: 21px;
	width: 13px;
	height: 11px;
	background: url(images/quote.gif) 0 0 no-repeat;
}

.button {
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	background: url(images/button-left.jpg) left 0 no-repeat;
	cursor: pointer;
}

.button strong {
	padding: 0 15px 0 2px;
	display: inline-block;
	background: url(images/button-right.jpg) right 0 no-repeat;
}

.button strong strong {
	background: url(images/button-tail.jpg) 0 0 repeat-x;
	padding: 7px 5px 8px 8px;
	cursor: pointer;
}

.button:hover {
	background: url(images/button-left.jpg) left bottom no-repeat;
}

.button:hover strong {
	background: url(images/button-right.jpg) right bottom no-repeat;
}

.button:hover strong strong {
	background: url(images/button-tail.jpg) 0 bottom repeat-x;
}

.list-1 li {
	font-size: 12px;
	line-height: 26px;
	font-weight: 700;
}

.list-1 li a {
	display: inline-block;
	color: #666567;
	padding-left: 28px;
	background: url(images/marker-1.png) 0 6px no-repeat;
}

.list-1 li a:hover {
	background: url(images/marker-2.png) 0 6px no-repeat;
}

.list-2 li {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
}

.list-2 li.last-item {
	margin: 0;
}

.list-2 li a {
	display: inline-block;
	color: #666567;
	padding-left: 28px;
	background: url(images/marker-1.png) 0 0px no-repeat;
}

.list-2 li a:hover {
	background: url(images/marker-2.png) 0 0px no-repeat;
}

.list-3 li {
	font-size: 12px;
	line-height: 26px;
}

.list-3 li a {
	display: inline-block;
	color: #969597;
}

.list-3 li a:hover {
	text-decoration: underline;
}

.list-4 li {
	font-size: 12px;
	line-height: 26px;
	padding-left: 29px;
	background: url(images/marker-3.png) 0 6px no-repeat;
}

.list-4 li a {
	display: inline-block;
	color: #969597;
}

.list-4 li a:hover {
	text-decoration: underline;
}

.link:hover {
	text-decoration: underline;
}

.link-1 {
	font-size: 12px;
	line-height: 18px;
	color: #6cadcc;
}

.link-1:hover {
	color: #115d82;
}

.link-2 {
	display: inline-block;
	font-size: 12px;
	line-height: 32px;
	color: #6cadcc;
	font-weight: 700;
	padding-left: 45px;
	background: url(images/link2-pict.gif) 0 0 no-repeat;
}

.link-2:hover {
	color: #666567;
}

.map-canvas {
	width: 439px;
	height: 326px;
}

dl dd {
	overflow: hidden;
}

dd span {
	float: left;
	width: 70px;
}

/****************************footer************************/
footer {
	width: 100%;
	padding: 14px 0 24px;
	background: none;
}

.menu-bot {
	overflow: hidden;
}

.menu-bot li {
	float: left;
	font-size: 12px;
	line-height: 18px;
	margin-right: 15px;
}

.menu-bot li.last-item {
	margin: 0;
}

.menu-bot li a {
	color: #9c9b9d;
}

.menu-bot li a:hover,
.menu-bot li a.active {
	color: #6cadcc;
}

.text-bot {
	text-align: right;
	font-size: 12px;
	line-height: 18px;
	color: #4b494d;
}

.text-bot a {
	color: #6cadcc;
	margin-left: 18px;
	text-decoration: none;
}

.text-bot a:hover {
	text-decoration: underline;
}

/****************************aside************************/
aside {
	border: 1px solid #115577;
	padding: 0;
	margin: 0;
	background: url(images/aside-tail.gif) 0 0 repeat-x #136086;
	position: relative;
}

.padding-aside {
	padding: 14px 28px 31px 29px;
}

aside em {
	width: 52px;
	height: 50px;
	position: absolute;
	top: 9px;
	left: 19px;
	background: url(images/topic-img.png) 0 0 no-repeat;
}

.topic {
	display: block;
	color: #fff;
	padding-left: 54px;
}

.topic .text-1 {
	display: inline-block;
	font-size: 22px;
	line-height: 33px;
	margin-right: 5px;
}

.topic .text-2 {
	display: inline-block;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
}

/****************************layout************************/
.banners.col-1 {
	width: 186px;
	margin-right: 28px;
}

.banners.col-2 {
	width: 200px;
	margin-right: 0px;
}

aside .col-1 {
	width: 277px;
	margin-right: 30px;
}

aside .col-2 {
	width: 277px;
	margin-right: 30px;
}

aside .col-3 {
	width: 277px;
	margin-right: 0px;
}

.page2.col-1 {
	width: 122px;
	margin-right: 28px;
}

.page2.col-2 {
	width: 122px;
	margin-right: 28px;
}

.page2.col-3 {
	width: 122px;
	margin-right: 28px;
}

.page2.col-4 {
	width: 122px;
	margin-right: 0px;
}

.page3.col-1 {
	width: 398px;
	margin-right: 53px;
}

.page3.col-2 {
	width: 428px;
	margin-right: 0px;
}

.page4.col-1.row1 {
	width: 250px;
	margin-right: 77px;
}

.page4.col-2.row1 {
	width: 175px;
	margin-right: 147px;
}

.page4.col-3.row1 {
	width: 220px;
	margin-right: 0px;
}

.page4.col-1.row2 {
	width: 156px;
	margin-right: 53px;
}

.page4.col-2.row2 {
	width: 670px;
	margin-right: 0px;
}

.page4.col-1.row3 {
	width: 670px;
	margin-right: 53px;
}

.page4.col-2.row3 {
	width: 156px;
	margin-right: 0px;
}

.page5.col-1 {
	width: 244px;
	margin-right: 46px;
}

.page5.col-2 {
	width: 268px;
	margin-right: 0px;
}

.page7.col-1 {
	width: 148px;
	margin-right: 61px;
}

.page7.col-2 {
	width: 166px;
	margin-right: 0px;
}

/****************************TM-Slider************************/
.slider {
	width: 950px;
	height: 430px;
	margin: 0 auto;
}

.items {
	display: none;
}

.play {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: inline-block;
	width: 37px;
	height: 22px;
	text-indent: -5000px;
	background: url(images/play.png) 0 0 no-repeat;
	z-index: 10;
	cursor: pointer;
}

.paused {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: inline-block;
	width: 37px;
	height: 22px;
	text-indent: -5000px;
	background: url(images/play.png) 0 bottom no-repeat;
	z-index: 10;
	cursor: pointer;
}

.banner {
	width: 414px;
	height: 315px;
	position: absolute;
	right: 54px;
	top: 52px;
	font-size: 16px;
	line-height: 23px;
	color: #6cadcc;
	background: none;
	z-index: 10;
}

.banner .text-1 {
	display: block;
	font-size: 36px;
	line-height: 44px;
	color: #8f9295;
}

.banner .text-2 {
	display: block;
	font-size: 26px;
	line-height: 32px;
	color: #292e31;
	margin: -1px 0 20px;
}

.banner-list li {
	font-size: 16px;
	line-height: 33px;
}

.banner-list li a {
	display: inline-block;
	color: #323034;
	text-decoration: none;
	padding-left: 43px;
	background: url(images/banner-marker1.png) 0 4px no-repeat;
}

.banner-list li a:hover {
	color: #519ec2;
	background: url(images/banner-marker2.png) 0 4px no-repeat;
}

/****************************form-rates************************/
#rates {
	line-height: 1em;
	margin: 0;
	padding: 0;
	width: 239px;
}

#rates label {
	display: block;
	height: 40px;
	padding: 0;
	margin: 0;
	position: relative;
}

#rates label.textarea {
	display: block;
	height: 158px;
	padding: 0;
	margin: 0;
	position: relative;
}

#rates input,
#rates textarea {
	font-size: 12px;
	color: #969597;
	width: 221px;
	padding: 6px 8px;
	margin: 0;
	outline: none;
	border: 1px solid #f1f1f1;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

#rates .wrapper .extra-wrap input {
	width: 112px;
	margin-top: 12px;
}

#rates textarea {
	overflow: auto;
	height: 131px;
}

#rates .buttons {
	text-align: right;
	margin-top: 26px;
}

#rates .rates-text {
	font-size: 12px;
	line-height: 18px;
	color: #969597;
	margin-top: 18px;
}

#rates .rates-text span {
	color: #6cadcc;
}

/****************************form-cards************************/
#cards {
	line-height: 1em;
	margin: 0;
	padding: 0;
	width: 879px;
}

#cards .col-1.row1 {
	width: 239px;
	margin-right: 92px;
}

#cards .col-2.row1 {
	width: 548px;
	margin-right: 0px;
}

#cards .col-1.row2 {
	width: 641px;
	margin-right: 0px;
}

#cards .col-1.row2 .padding {
	padding-top: 20px;
}

#cards .col-2.row2 {
	width: 238px;
	margin-right: 0px;
}

#cards .col-1.row2 span {
	color: #6cadcc;
}

#cards .text1 {
	display: block;
	font-size: 12px;
	line-height: 30px;
	color: #969597;
}

#cards label {
	display: block;
	height: 40px;
	padding: 0;
	margin: 0;
}

#cards label.lab1 {
	display: block;
	height: 70px;
	padding: 0;
	margin: 0;
}

#cards label.textarea {
	display: block;
	height: 304px;
	padding: 0;
	margin: 0;
}

#cards input,
#cards textarea {
	font-size: 12px;
	color: #969597;
	padding: 6px 8px;
	margin: 0;
	outline: none;
	border: 1px solid #f1f1f1;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

#cards input {
	width: 221px;
}

#cards textarea {
	width: 530px;
	overflow: auto;
	height: 247px;
}

#cards label.lab1 input {
	width: 530px !important;
}

#cards .col-2.row2 input {
	width: 110px !important;
	margin-top: 12px;
}

#cards .buttons {
	text-align: right;
}

#cards em {
	display: inline-block;
	float: left;
	width: 318px;
	font-size: 12px;
	line-height: 30px;
	color: #969597;
	font-style: normal;
}

/* -------------Selects------------- */
#cards .jqTransformSelectWrapper {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 230px !important;
}

#cards .jqTransformSelectWrapper div span {
	display: block;
	float: none;
	font-size: 12px;
	line-height: 27px;
	color: #969597;
	width: 204px !important;
	padding: 0px 12px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #f1f1f1;
	background: #fff;
	position: relative;
}

#cards .jqTransformSelectWrapper a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 21px;
	height: 21px;
	background: url(images/bg-select.gif) 0 0 no-repeat;
}

#cards .jqTransformSelectWrapper ul {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 230px !important;
	display: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	z-index: 10;
	background: #fff;
	border: 1px solid #f1f1f1;
}

#cards .jqTransformSelectWrapper ul a {
	display: block;
	padding: 2px 2px 2px 8px;
	background: #FFF;
	font-size: 12px;
	line-height: 15px;
	color: #7dbad8;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#cards .jqTransformSelectWrapper ul a.selected {
	background: #0f597d;
	color: #fff;
}

#cards .jqTransformSelectWrapper ul a:hover,
.jqTransformSelectWrapper ul a.selected:hover {
	background: #6daecd;
	color: #fff;
}

/****************************Contact Form************************/
#contact-form {
	line-height: 1em;
	margin: 0;
	padding: 0;
	width: 359px;
}

#contact-form .success {
	padding-bottom: 5px;
}

#contact-form textarea,
#contact-form input {
	margin: 0;
	font-size: 1em;
	color: #969597;
	padding: 6px 6px;
	border: 1px solid #f1f1f1;
	position: relative;
	outline: none;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

#contact-form input {
	width: 225px;
}

#contact-form textarea {
	overflow: auto;
	width: 345px;
	height: 235px;
}

#contact-form label {
	min-height: 40px;
	display: block;
}

#contact-form label.message {
	min-height: 275px;
}

#contact-form .error,
#contact-form .empty,
#contact-form .success {
	display: none;
}

#contact-form .button {
	margin-left: 8px;
}

#contact-form .error,
#contact-form .empty {
	color: red;
	padding: 5px 0;
	font-size: 11px;
}

#contact-form .buttons {
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
}

#contact-form .buttons a {
	float: right;
	margin-left: 7px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	background: url(images/button-left.jpg) left 0 no-repeat;
	cursor: pointer;
}

#contact-form .buttons a strong {
	padding: 0 15px 0 2px;
	display: inline-block;
	background: url(images/button-right.jpg) right 0 no-repeat;
}

#contact-form .buttons a strong strong {
	background: url(images/button-tail.jpg) 0 0 repeat-x;
	padding: 7px 5px 8px 8px;
	cursor: pointer;
}

#contact-form .buttons a:hover {
	background: url(images/button-left.jpg) left bottom no-repeat;
}

#contact-form .buttons a:hover strong {
	background: url(images/button-right.jpg) right bottom no-repeat;
}

#contact-form .buttons a:hover strong strong {
	background: url(images/button-tail.jpg) 0 bottom repeat-x;
}

#contact-form .success {
	color: #969597;
	width: 246px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #f1f1f1;
	background: #fff;
}

/*******************Product Cart************************/

/* Change font color for "Show Product's Price" feature */
.pcShowProductPrice {
	color: #000000;
	font-weight: bold;
}

/* Increase size of online price on Product Details page */
.pcShowProductMainPrice {
	font-size: 15px;
}

/* Strikethrough for List Price and change font color*/
.pcShowProductListPrice {
	text-decoration: line-through;
	color: #ff0000;
}

/* Change font color for "Show Savings" feature */
.pcShowProductSavings {
	color: #090;
	font-weight: bold;
}
/* Apply general styles to the container */
.field-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the job title */
.field-title.job-title h1 {
    color: #000;
    font-size: 50px;
}

/* Style the Apply Now button */
.btn-secondary {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
	margin-bottom: 20px;
}

/* Style the section labels */
.label {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

/* Style the job details sections */
.detail {
    margin-top: 15px;
	font-size: 15px;
    line-height: 1.5;
    color: #000;
    padding: 10px; /* Added padding */
}

/* Style the list items */
.detail ul {
    list-style-type: circle;
    padding: 0;
}

.detail li {
    margin-bottom: 8px;
}

/* Add padding and border to the Benefits section */
.field-benefits {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

/* Style the paragraphs */
.detail p {
    margin-bottom: 15px;
    color: #000;
    font-size: 16px;
}

.btn-secondary:hover {
	background-color: #0a0c0a;
	color: #fff;
}